MYSQL_ROOT_PASSWORD=your_mysql_password
MYSQL_DB_PASSWORD=your_mysql_password
OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
OSS_ACCESS_KEY_ID=your_access_key_id
OSS_ACCESS_KEY_SECRET=your_access_key_secret
OSS_BUCKET_NAME=your_bucket_name
JWT_ADMIN_SECRET_KEY=your_admin_secret
JWT_USER_SECRET_KEY=your_user_secret
